__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.manifest
*.spec


# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/
*.egg-info

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pytype static type analyzer
.pytype/

# PyPI configuration file
.pypirc
.vscode/

# prevent static files
dusseldorf/api/src/api/ui/

.private/

# local copilot instructions and prompts
.github/prompts
.github/copilot-instructions.md