# general global config across all listeners of all network protocols 

domains = [ "dssldrf.net" ]


# listeners for each network protocol
[listeners]

[listeners.dns]
port = 53
prefix_len = 12


[listeners.http]
port = 80


[listeners.https]
port = 443
tls = true 
crt_file = "cert/pub.crt"
key_file = "cert/priv.key"
