asgiref==3.8.1
attrs==25.1.0
azure-core==1.32.0
azure-core-tracing-opentelemetry==1.0.0b11
azure-identity==1.19.0
azure-monitor-opentelemetry==1.6.4
azure-monitor-opentelemetry-exporter==1.0.0b33
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.1
Deprecated==1.2.18
dnslib==0.9.25
dnspython==2.7.0
exceptiongroup==1.2.2
fixedint==0.1.6
google-api-core==2.24.1
google-auth==2.38.0
googleapis-common-protos==1.66.0
idna==3.10
importlib_metadata==8.5.0
iniconfig==2.0.0
isodate==0.7.2
lxml==4.9.3
msal==1.31.1
msal-extensions==1.2.0
msrest==0.7.1
oauthlib==3.2.2
opentelemetry-api==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-instrumentation-dbapi==0.51b0
opentelemetry-instrumentation-django==0.51b0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-instrumentation-flask==0.51b0
opentelemetry-instrumentation-psycopg2==0.51b0
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-urllib==0.51b0
opentelemetry-instrumentation-urllib3==0.51b0
opentelemetry-instrumentation-wsgi==0.51b0
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-util-http==0.51b0
packaging==23.2
pluggy==1.4.0
portalocker==2.8.2
proto-plus==1.26.0
protobuf==4.25.8
psutil==5.9.8
pyasn1==0.5.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments==2.15.0
PyJWT==2.10.1
pymongo==4.11.1
pytest==8.1.2
python-dateutil==2.9.0.post0
pytomlpp==1.0.13
PyYAML==6.0.2
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9
setuptools==78.1.1
six==1.17.0
tomli==2.2.1
typing_extensions==4.12.2
urllib3==2.5.0
wheel==0.43.0
wrapt==1.17.2
zentralbibliothek
zipp==3.21.0
